<form id="productForm">
   title: <input type="text" name="title" id="title">
   description: <input type="text" name="description" id="description">
   price: <input type="text" name="price" id="price">
   code: <input type="text" name="code" id="code">
   stock: <input type="text" name="stock" id="stock">
   category: <input type="text" name="category" id="category">
   <input type="submit" value="Send">
</form>
<ul id="productList"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/realTimeProducts.js"></script>